<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liquor Store</title>
    <link rel="stylesheet" type="text/css" media="all"  href="./css/bootstrap.min.1.4.0.css" th:href="@{/css/bootstrap.min.1.4.0.css}" />
</head>
<body>
<center>
    <h1>
        Harshal's LCBO
    </h1>
    <h2>
        Select the type of Liquor
    </h2>
    <form method="post" action="SelectLiquor">
       <br>
        <select name="Type" size="1">
            <option>WINE</option>
            <option>WHISKY</option>
            <option>BEER</option>

        </select>
        <br><br>
        <input type="submit">
    </form>
</center>


</body>
</html>